
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanel</title>
</head>

<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <ul>
                <li>@Html.RouteLink("AboutMe", new { action = "Index", controller = "AboutMes" })</li>
                <li>@Html.RouteLink("Skills", new { action = "Index", controller = "Skills" }) </li>
                <li>@Html.RouteLink("Certification", new { action = "Index", controller = "Certifications" }) </li>
                <li>@Html.RouteLink("Education", new { action = "Index", controller = "Educations" }) </li>
                <li>@Html.RouteLink("Entry", new { action = "Index", controller = "Entries" }) </li>
                <li>@Html.RouteLink("Experience", new { action = "Index", controller = "Experiences" }) </li>
            </ul>
        }
    </div>
</body>
</html>
